<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>FLIP</title>
<meta name="description" content="Пошив и продажа термосумок, рюкзаков, сумок для авто, медицинских сумок">
<meta name="keywords" content="FLIP, flip, termobags, термосумки, сумки, пошив сумок, пошив сумка, сумка, сумки на заказ, сумка на заказ, бананка, рюкзак, сумки для доставки">
<link rel="icon" type="image/png" href="favicon.ico" />
<link rel="stylesheet" href="css/normalize.css?v=1">
<link rel="stylesheet" href="css/fonts/fonts.css?v=1">
<link rel="stylesheet" type="text/css" href="css/slick.css?v=1">
<link rel="stylesheet" type="text/css" href="css/main.css?v=1">
<link rel="stylesheet" type="text/css" href="css/mediaq.css?v=1">
