/* ===============STYLE=RESET=START=================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output.mob-menu .menu-item .menu-more-link, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'RobotoCondensed-Regular', sans-serif;
  font-size: 14px;
  line-height: 1;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header > .row > .col-md-12 {
  padding: 0;
}

img {
  max-width: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 100%;
}

.container-fluid > .row {
  margin: 0;
}

/* ===============STYLE=RESET=END=================*/

//======Global-style======
h1, h2 {
  font-family: 'RobotoCondensed-Bold';
  color: #000000;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  flex-shrink: 1;
  flex-grow: 1;
}

.container {
  max-width: 1475px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font-family: "RobotoCondensed-Regular";
}

img {
  max-width: 100%;
}

.icon {
  display: block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

//======Variables======

/* main styles */

.container {
  max-width: 1590px;
  margin: 0 auto;
}

/*header*/
.page__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__main {
  display: flex;
  align-items: center;
  padding: 60px 0;
}

.logo {
  flex-grow: 0;
  flex-shrink: 0;
  span {
    color: #000000;
    font-family: 'Blanka-Regular', serif;
    font-size: 50px;
    line-height: 17px;
  }
}

.socials {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 48px;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 25px;
    border-radius: 23px;
    background: #ffffff;
    color: #000f30;
  }
}

.mob-menu {
  color: #000f30;
  width: 45px;
  height: 45px;
  font-size: 23px;
  border-radius: 23px;
  background: #ffffff;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  cursor: pointer;
}

.menu-block {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  position: relative;
}

.menu {
  li {
    display: inline-block;
    font-family: "ProximaNova-Thin", sans-serif;
    border-bottom: 2px solid transparent;
    padding: 0 25px;
    a {
      font-size: 21px;
      line-height: 43px;
      color: #00002f;
    }
    &.active {
      border-bottom: 2px solid #fa6400;
    }
  }
}
/*header*/

/*main*/

.page__wrapper {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  overflow: hidden;
}

.main-banner {
  background: url(../images/banner-bg.jpg) 100% no-repeat;
  background-size: 100% 100%;
  padding: 200px 0;
  border-radius: 0 0 80px 80px;
}

section {
  padding: 180px 0;
}

.banner-block {
  display: flex;
  align-items: center;
  border-radius: 0 0 100px 100px;
  .text-block {
    max-width: 923px;
    margin-right: 50px;
  }
}

.title {
  line-height: 66.67px;
  color: #00002f;
  font-family: "ProximaNova-Thin", sans-serif;
  font-size: 65px;
  font-weight: 300;
  letter-spacing: -2px;
  padding-bottom: 77px;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  span {
    position: relative;
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 130px;
      height: 4px;
      background-color: #fa6400;
      left: 0;
      top: 75px;
    }
  }
  &.banner-title {
    text-transform: initial;
    font-style: initial;
    font-weight: 700;
    letter-spacing: -4px;
    font-family: "Montserrat-ExtraLight", sans-serif;
  }
  &.title-center {
    margin: 0 auto;
    justify-content: center;
  }
}

.banner-text {
  color: #5a5a5a;
  font-family: "Montserrat-ExtraLight", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 33.33px;
  margin-bottom: 125px;
}

.banner-bottom {
  color: #000f31;
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 41.67px;
  display: flex;
  &>span {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  svg {
    margin-right: 25px;
  }
}

.banner-slider {
  max-width: 621px;
  max-height: 668px;
  position: relative;
  .icon {
    position: absolute;
    fill: #000;
    font-size: 26px;
    bottom: 27px;
    right: 24px;
    z-index: 5;
    cursor: pointer;
    &.arrow-left {
      right: 90px;
      transform: rotate(180deg);
    }
  }
  &-item {
    //padding-top: 35.2%;
    overflow: hidden;
    width: 621px;
    height: 668px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }
    &>span {
      position: absolute;
      right: 0;
      width: 219px;
      bottom: 4px;
      padding: 30px 150px 30px 30px;
      background: #fff;
      color: #000f31;
      font-family: "ProximaNova-Bold", sans-serif;
      font-size: 26px;
      font-weight: bold;
      line-height: 19.09px;
      letter-spacing: 1.15px;
      span {
        font-size: 33px;
        letter-spacing: 1.46px;
      }
    }
  }
}

.next-screen {
  position: fixed;
  bottom: 63px;
  left: 50%;
  font-size: 41px;
  transform: translateX(-50%) rotate(90deg);
  cursor: pointer;
  z-index: 10;
}

.about-us {
  background: url(../images/background-2.png) 100% no-repeat;
  &__block {
    display: flex;
    align-items: center;
  }
  &__image {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 195px;
    box-shadow: 10px 10px 25px 0 rgba(0, 28, 55, 0.3);
  }
  &__text {
    flex-shrink: 1;
    flex-grow: 1;
    &-block {
      color: #5a5a5a;
      font-family: 'ProximaNova-Bold', Serif;
      font-size: 21px;
      line-height: 25px;
    }
  }
  &__icon-block {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    &>span {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 180px;
      text-align: center;
    }
    .icon {
      color: #fa6400;
      font-size: 60px;
    }
    .icon-text {
      color: #5a5a5a;
      font-family: "ProximaNova-Bold", serif;
      font-size: 21px;
      font-weight: bold;
      line-height: 25px;
      margin-top: 25px;
    }
  }
}

.our-works {
  padding: 180px 0 0;
  background: url(../images/background-3.png) 100% no-repeat;
  .slick-center {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
  }

  .slick-list {
    padding:45px 60px !important;
    margin-left:30px !important;
  }
  &__block {
    margin: 0 -20px;
    &-item {
      display: inline-block;
      width: 33%;
      padding: 0 35px;
      margin-bottom: 180px;
      &>div {
        position: relative;
        padding: 100% 21px 0;
        box-shadow: 0 25px 70px -25px rgba(0, 28, 55, .92);
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        transform: translate3d(-50%, -50%, 0);
      }
      &-text {
        opacity: 0;
        transition: opacity .3s;
        background-color: rgba(0, 28, 55, 0.81);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 67px 21px 0;
        text-align: center;
        will-change: transform;
        &>span {
          color: #ffffff;
          font-family: "Montserrat-ExtraLight", serif;
          font-size: 37px;
          font-weight: bold;
          line-height: 47.96px;
          text-transform: uppercase;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            width: 104px;
            height: 3px;
            background-color: #fa6400;
            top: calc(100% + 20px);
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &>p {
          color: #ffffff;
          font-family: "Geometria-ExtraLightItalic", serif;
          font-size: 21px;
          font-weight: bold;
          line-height: 33.33px;
          margin-top: 70px;
        }
      }
      &:hover .our-works__block-item-text {
        opacity: 1;
        transition: opacity .3s;
      }
    }
  }
}

.slick-slide {
  outline: none;
}

.arrows {
  cursor: pointer;
}

.works-slider__block {
  background: #f0f0f0 url(../images/background-4.png) 100% no-repeat;
  .slick-slide > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .works-slider-item {
      height: 510px !important;
      display: flex !important;
      align-items: center;
      justify-content: center;
      img {
        width: 320px !important;
        height: 320px !important;
        overflow: hidden;
        transition: width .1s;
      }
    }
  }
  .slick-current > div {
    .works-slider-item {
      img {
        width: 742px !important;
        height: auto !important;
        transition: width .7s;
      }
    }
  }
  .slick-track {
    display: flex;
    align-items: center;
  }
  .works-slider {
    display: flex;
    align-items: center;
    margin-bottom: 79px;
    .slick-arrow {
      position: absolute;
      z-index: 5;
      font-size: 59px;
      color: #000;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(180deg);
      &.arrow-right {
        left: auto;
        right: 0;
        transform: translateY(-50%) rotate(0deg);
      }
    }
    .slick-dots {
      position: absolute;
      top: calc(100% + 55px);
      display: flex !important;
      font-size: 0;
      align-items: center;
      justify-content: center;
      left: 50%;
      transform: translateX(-50%);
      li {
        width: 16px;
        height: 16px;
        background-color: #fa6400;
        opacity: 0.57;
        border-radius: 50%;
        margin-right: 20px;
        &.slick-active {
          width: 24px;
          height: 24px;
          opacity: 1;
        }
      }
    }
  }
}

.contacts__block {
  background: url(../images/background-5.png) 100% no-repeat;
  text-align: center;
  .title {
    color: #fa6400;
    font-family: "Montserrat-ExtraLight", serif;
    font-size: 33px;
    font-weight: bold;
    line-height: 33.33px;
    text-transform: uppercase;
    padding-bottom: 14px;
    margin-bottom: 44px;
    justify-content: center;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 80px;
      height: 3px;
      background-color: #003b76;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .info {
    color: #000f31;
    font-family: "Geometria", serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 41.67px;
  }
  &>div + div {
    margin-top: 75px;
  }
}
/*main*/


/*footer*/
.footer {
  background-color: #000f31;
  display: table-row;
  height: 1px;
  .header__main {
    display: flex;
    align-items: center;
    padding: 60px 0;
  }

  .logo {
    span {
      color: #ffffff;
    }
  }

  .menu {
    li {
      border-bottom: none;
      a {
        color: #ffffff;
      }
    }
  }
}
/*footer*/

/* main styles end */