@media screen and (max-width: 1620px) {
  .title {
    font-size: 57px;
  }
}

@media screen and (max-width: 1480px) {
  .banner-slider {
    max-width: 521px;
    max-height: 568px;
    &-item {
      max-width: 521px;
      max-height: 568px;
    }
  }

  .banner-text {
    margin-bottom: 75px;
  }

  .banner-bottom {
    flex-direction: column;
    & > span {
      margin-right: 0;
      text-shadow: 1px 1px 1px white;
    }
  }

}

@media screen and (max-width: 1200px) {
  .mob-menu {
    display: flex;
  }
  
  header .menu {
    width: 235px;
    display: none;
    position: absolute;
    z-index: 5;
    right: 0;
    top: calc(100% + 10px);
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 3px 3px 5px #dadada;
    &.open-menu {
      display: flex;
    }
  }

  .banner-slider {
    max-width: 421px;
    max-height: 468px;
    &-item {
      max-width: 421px;
      max-height: 468px;
    }
  }

  .title {
    font-size: 37px;
  }

  .banner-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .banner-block {
    flex-direction: column;
    .text-block {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }

  .footer {
    .header__main {
      flex-direction: column;
      .logo {
        margin-bottom: 40px;
      }
      .menu-block {
        margin-bottom: 40px;
      }
      .menu {
        display: flex;
        flex-direction: column;
        li a {
          font-size: 16px;
        }
      }
    }
  }

  .title {
    padding-bottom: 17px;
  }

  .banner-text {
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 600px) {
  .socials {
    padding: 0 10px;
  }

  header .menu {
    right: -55px;
  }
}

@media screen and (max-width: 480px) {
  .banner-slider {
    max-width: 300px;
    max-height: 300px;
    &-item {
      max-width: 300px;
      max-height: 300px;
      &>span {
        bottom: 0;
        width: 160px;
        padding: 20px 50px 20px 20px;
      }
    }

    .icon {
      right: 16px;
      bottom: 19px;
      &.arrow-left {
        right: 60px;
      }
    }
  }
}